.filter{
  &__loader{
    padding-bottom: $space7;
    min-height: 330px;
  }
  &__wrapper{
    background-color: $bg_White;
    border-radius: $space2;
    box-shadow: $depth2;
    margin-bottom: $space7;
  }
  &__top{
    & > .buttonText{
      padding: $space3 $space4;
      border-bottom: 1px solid $border_gray5;
    }
  }
  &__items{
    padding: $space2 $space4 $space4 $space4;
    @include gridMinMax(260px, $space4);
    align-items: flex-end;
  }
  &__item{
    .cardText{
      margin-bottom: $space;
    }
      @include media(600px){
        .filterSelect{
          display: flex;
          &__value {
            width: 100%;
          }
        }
    }
    &:last-child{
      @include flex(flex, space-between, center);
      @include media($xl){
        justify-content: flex-start;
      }
      .btn{
        margin: 0 $space;
      }
    }
  }
  &__down{
    height: min-content;
    min-height: 330px;
    @include grid(4, $space7);
    @include media($md){
      @include grid(3, $space7);
    }
    @include media($sm){
      @include grid(2, $space7);
    }
    @include media($mobile){
      @include grid(2, $space3);
    }
    padding-bottom: $space7;
  }
  &__btn{
    text-align: right;
    padding: $space7 0;
  }
}
