// text color
$text_red: #FF0000;
$textCard_red: #EB5757;
$text_white: #fff;
$text_black: #000000;
$text_gray1: #333333;
$text_gray2: #4F4F4F;
$text_gray3: #828282;
$text_gray4: #BDBDBD;
$text_blue: #2F80ED;

// background
$bg_White: #fff;
$bg_red: #FF3030;
$bgContact_red: #FF0000;
$bg_gray6: #F8F8F8;
$bg_bread: #181818;
$bg_black: #000000;
$bg_gray1: #333333;
$bg_blue: #2F80ED;
$bg_green: #27AE60;

// border
$border_gray5: #E0E0E0;
$border_gray3: #828282;
$border_white: #FFF;

// icon
$icon_dada: #DADADA;
$icon_red: #FF0000;
$iconBg_red: #FF0000;
$icon_white: #fff;
$icon_gray3: #828282;
$icon_gray1: #333333;
$icon_gray4: #BDBDBD;
$icon_blue: #2F80ED;

