$depth0: 0px 2px 6px rgba(77, 77, 77, 0.15);
$depth1: 0px 23px 39px rgba(0, 0, 0, 0.19);
$depth2: 0px 2px 6px rgba(77, 77, 77, 0.15);
$depth3: 0px 22px 36px rgba(0, 0, 0, 0.15);
$depth4: 0px 5px 19px rgba(0, 0, 0, 0.1);

$depth-inset: inset 0px 4px 7px rgba(37, 73, 158, 0.58);
$transition: all .3s linear;
