$space: 4px;
$space2: calc(#{ $space } * 2);
$space3: calc(#{ $space } * 3);
$space4: calc(#{ $space } * 4);
$space5: calc(#{ $space } * 5);
$space6: calc(#{ $space } * 6);
$space7: calc(#{ $space } * 7);
$space8: calc(#{ $space } * 8);
$space9: calc(#{ $space } * 9);
$space10: calc(#{ $space } * 10);
$space11: calc(#{ $space } * 11);
$space12: calc(#{ $space } * 12);
$space13: calc(#{ $space } * 13);
$space14: calc(#{ $space } * 14);
$space15: calc(#{ $space } * 15);
$space16: calc(#{ $space } * 16);
$space17: calc(#{ $space } * 17);
$space18: calc(#{ $space } * 18);
$space19: calc(#{ $space } * 19);
$space20: calc(#{ $space } * 20);